extends layout.pug

block header
  title View recipe

block content
  .py-3.text-center
    h2.bd-title #{recipe.title}
  .row
    .w-100
      .mb-3
        p(id='short-description' name='short_description') #{recipe.short_description}
      .mb-3
        p(id='preparation-time' name='preparation_time') Preparation time: #{recipe.preparation_time}
      .mb-3
        h6 Instructions:
        each step in steps
          p(id='recipe-steps' name='step') #{step.step_number}. #{step.step_text}
            a(href=`${recipe.recipe_id}/editStep/${step.step_number}`): input.btn.btn-primary.btn-lg(value='Edit step')
            a(href=`${recipe.recipe_id}/deleteStep`): input.btn.btn-primary.btn-lg(value='Delete step')
      .mb-3
        h6 Ingredients:
        each ingredient in ingredients
          p(id='recipe-ingredients' name='ingredients') #{ingredient.name}
            a(href=`${recipe.recipe_id}/editIngredient`): input.btn.btn-primary.btn-lg(value='Edit ingredient')
            a(href=`${recipe.recipe_id}/deleteIngredient`): input.btn.btn-primary.btn-lg(value='Delete ingredient')

      a(href=`${recipe.recipe_id}/edit`): input.btn.btn-primary.btn-lg(, value='Edit recipe')
      a(href=`${recipe.recipe_id}/delete`): input.btn.btn-primary.btn-lg(, value='Delete recipe')
      a(href=`${recipe.recipe_id}/addStep`): input.btn.btn-primary.btn-lg(value='Add a recipe step')
      a(href=`${recipe.recipe_id}/addIngredient`): input.btn.btn-primary.btn-lg(value='Add a recipe ingredient')
    